<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<classPathEntry location="src/main/mysql-connector-java-5.1.34.jar" />
    <context id="commerce" targetRuntime="MyBatis3">
        <property name="suppressAllComments" value="true" />
        <property name="useActualColumnNames" value="false"/>
        <plugin type="com.plugin.PaginationPlugin"> </plugin>
        <commentGenerator>
            <!-- 指定在生成的注释是否将包括时间戳，默认是false -->
            <property name="suppressDate" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="org.gjt.mm.mysql.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/commerce" userId="root"
                        password="111111">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.entity"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
		
		<table tableName="admin" domainObjectName="AdminDO">
			<generatedKey column="id" sqlStatement="mysql" identity="true" />
		</table>

        <table tableName="category" domainObjectName="CategoryDO">
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
        </table>

        <table tableName="commodity" domainObjectName="CommodityDO">
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
        </table>

        <table tableName="order" domainObjectName="OrderDO">
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
        </table>

        <table tableName="shop" domainObjectName="ShopDO">
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
        </table>

        <table tableName="user" domainObjectName="UserDO">
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
        </table>

        <table tableName="log" domainObjectName="LogDO">
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
        </table>
         
    </context>
</generatorConfiguration>
