<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentallela Alela! | </title>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/maps/jquery-jvectormap-2.0.1.css" />
    <link href="/css/icheck/flat/green.css" rel="stylesheet" />
    <link href="/css/floatexamples.css" rel="stylesheet" type="text/css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/nprogress.js"></script>
    
    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            #parse("/templates/layout/left.vm")
            #parse("/templates/layout/top.vm")
            <div class="right_col" role="main">

                <form class="form-horizontal" action="$competitionLink.setTarget("competition/student/studentInfo")" method="post" id="updatestudentForm">
                    $csrfToken.hiddenField
                    <input type="hidden" name="action" value="StudentAction"/>
                    #set ($group = $form.student.defaultInstance)
                    <div class="errorMessage">
                        <p>$!message</p>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th class="tablestyle_title" ><div align="center" class="STYLE2">学生详情</div></th>
                        </tr>
                        <tr>
                            <td class="CPanel">
                                <table class="table table-bordered">
                                    <TR>
                                        <TD width="100%">
                                            <fieldset style="height:100%;">
                                                <legend>用户详情</legend>
                                                <table class="table table-bordered">
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">姓名:</td>
                                                        <td width="87%">$!user.username</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">登录名:</td>
                                                        <td width="87%">$!user.nickname</td>
                                                    </tr>

                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">手机号:</td>
                                                        <td width="87%">$!user.phone</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">邮箱:</td>
                                                        <td width="87%">$!user.email</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">职业:</td>
                                                        <td width="87%">$!user.job</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">学校:</td>
                                                        <td width="87%">$!user.school</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">学历:</td>
                                                        <td width="87%">$!student.education</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">专业:</td>
                                                        <td width="87%">$!user.major</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">地址:</td>
                                                        <td width="87%">$!user.address</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">身份证号:</td>
                                                        <td width="87%">$!user.identify</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">证件类型:</td>
                                                        <td width="87%">$!user.identifyType    </td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">支付宝账号:</td>
                                                        <td width="87%">$!user.alipayId</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">支付宝认证:</td>
                                                        <td width="87%">$!user.alipayPass</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" height="120px">头像:</td>
                                                        <td colspan="1"><img border=0 src="/competition/image.do?name=$!user.password"></td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" height="120px">身份证照片:</td>
                                                        <td colspan="1"><img border=0 src="/competition/image.do?name=$!user.img"></td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" width="13%">图片认证:</td>
                                                        <td width="87%">
                                                            #if($!user.imgPass==1)
                                                                认证通过
                                                            #else
                                                                认证未通过
                                                            #end
                                                        </td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" height="120px">修改时间:</td>
                                                        <td colspan="1">$!user.createtime</td>
                                                    </tr>
                                                    <tr bgcolor="#FFFFFF">
                                                        <td nowrap align="right" height="120px">创建时间:</td>
                                                        <td colspan="1">$!user.updatetime</td>
                                                    </tr>

                                                </table>
                                                <br />
                                            </fieldset>
                                        </TD>
                                    </TR>
                                </TABLE>
                            </td>
                        </tr>
                        <TR>
                            <TD colspan="2" align="center" height="50px">
                                <button type="submit" class="btn btn-primary" onclick="window.history.go(-1);return false;">返回</button></TD>
                        </TR>
                    </TABLE>
                </form>


            </div>
            <!-- footer content -->
            <footer>
                <div class="">
                    <p class="pull-right">Gentelella Alela! a Bootstrap 3 template by <a>Kimlabs</a>. |
                        <span class="lead"> <i class="fa fa-paw"></i> Gentelella Alela!</span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script src="/js/bootstrap.min.js"></script>

    <!-- gauge js -->
    <script type="text/javascript" src="/js/gauge/gauge.min.js"></script>
    <script type="text/javascript" src="/js/gauge/gauge_demo.js"></script>
    <!-- chart js -->
    <script src="/js/chartjs/chart.min.js"></script>
    <!-- bootstrap progress js -->
    <script src="/js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="/js/icheck/icheck.min.js"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/datepicker/daterangepicker.js"></script>

    <script src="/js/custom.js"></script>

    <!-- skycons -->
    <script src="/js/skycons/skycons.js"></script>

    <script>
        NProgress.done();
    </script>
    <!-- /datepicker -->
    <!-- /footer content -->
</body>

</html>
